.container-name__button {
  display: block;
  width: 24px;
  height: 24px;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  padding: 7px;
  justify-content: center;
  border: 1px solid rgba(255, 255, 255, 1);
  margin-left: 18px;
  background-image: url(../../../images/edit-button.svg);
  background-repeat: no-repeat;
  background-size: 7px 7px;
  background-position: center;
  box-sizing: border-box;
}

.container-name__button:hover {
  transition: opacity 0.9s ease-out;
  opacity: 0.6;
}
@media screen and (min-width: 320px) and (max-width: 600px) {
  .container-name__button {
    width: 18px;
    height: 18px;
    margin-left: 10px;
    padding: 5px;
  }
}
