.profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 36px 0 47px 0;
  flex-wrap: wrap;
}

@media screen and (min-width: 320px) and (max-width: 600px) {
  .profile {
    flex-direction: column;
    padding: 38px 0 36px 0;
  }
}
