.popup__container-close {
  width: 32px;
  height: 32px;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  position: absolute;
  top: -41px;
  left: 438px;
}
.popup__container-close:hover {
  opacity: 0.6;
  transition: opacity 0.8s ease-in-out;
}
@media screen and (min-width: 320px) and (max-width: 400px) {
  .popup__container-close {
    width: 20px;
    height: 20px;
    top: -35px;
    left: 262px;
  }
}
@media screen and (min-width: 401px) and (max-width: 432px) {
  .popup__container-close {
    left: 347px;
  }
}
@media screen and (min-width: 433px) and (max-width: 520px) {
  .popup__container-close {
    left: 382px;
  }
}
