.content {
  max-width: 880px;
  min-width: 320px;
  margin: 0 auto;
}
@media screen and (min-width: 300px) and (max-width: 319px) {
  .content {
    padding: 0 15px;
    box-sizing: border-box;
  }
}

@media screen and (min-width: 320px) and (max-width: 598px) {
  .content {
    padding: 0 19px;
  }
}
@media screen and (min-width: 501px) and (max-width: 897px) {
  .content {
    padding: 0 10px;
  }
}
@media screen and (min-width: 400px) and (max-width: 610px) {
  .content {
    padding: 5px;
  }
}
@media screen and (min-width: 601px) and (max-width: 670px) {
  .content {
    padding: 0 15px;
  }
}

