.card__button-remove {
  display: flex;
  width: 18px;
  height: 18px;
  position: absolute;
  background: none;
  cursor: pointer;
  background-image: url(../../../images/Trash.svg);
  background-repeat: no-repeat;
  background-size: cover;
  top: 20px;
  right: 20px;
  border: none;
  background-color: none;
  padding: 0;
}
.card__button-remove:hover {
  opacity: .6;
  transition: opacity .9s ease-out;
}
