.info-user__discription {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin: 0;
  color: #fff;
  padding-top: 16px;
  max-width: 336px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
@media screen and (min-width: 320px) and (max-width: 600px) {
  .info-user__discription {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    padding-top: 14px;
  }
}
