.popup__btn-close {
  width: 32px;
  height: 32px;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  position: absolute;
  right: -41px;
  top: -41px;
  background-image: url(../../../images/Close-Icon.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.popup__btn-close:hover {
  opacity: 0.6;
  transition: opacity 0.8s ease-in-out;
}

@media screen and (min-width: 320px) and (max-width: 720px) {
  .popup__btn-close {
    right: -2px;
    top: -28px;
    width: 20px;
    height: 20px;
  }
}


