.profile__button-add {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
	border: 2px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 2px;
	padding: 14px 64px;
	cursor: pointer;
  box-sizing: border-box;
}
.profile__button-add:hover {
  transition: opacity .9s ease-out;
  opacity: .8;
}
@media screen and (min-width: 400px) and (max-width: 610px) {
  .profile__button-add {
    width: 50%;
  }
}
@media screen and (min-width: 320px) and (max-width: 400px) {
  .profile__button-add {
    width: 100%;
  }
}
@media screen and (min-width: 601px) and (max-width: 670px) {
  .profile__button-add {
    margin: 0 auto;
    width: 50%;
  }
}
@media screen and (min-width: 671px) and (max-width: 700px) {
  .profile__button-add {
    width: 70%;
    margin: 20px auto;
  }
}
