@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);
@import url(../blocks/page/page.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/content/content.css);
@import url(../blocks/profile/profile.css);
@import url(../blocks/info-user/info-user.css);
@import url(../blocks/container-name/container-name.css);
@import url(../blocks/container-name/__name-title/container__name-title.css);
@import url(../blocks/container-name/__name-button/container__name-button.css);
@import url(../blocks/info-user/__imag/info-user__imag.css);
@import url(../blocks/info-user/__container/info-user__container.css);
@import url(../blocks/info-user/__discription/info-user__discription.css);
@import url(../blocks/profile/__button-add/profile__button-add.css);
@import url(../blocks/items-foto/items-foto.css);
@import url(../blocks/card/card.css);
@import url(../blocks/card/__image/card__imag.css);
@import url(../blocks/card/__name/card__name.css);
@import url(../blocks/card/__name-title/card__name-title.css);
@import url(../blocks/card/__name-heart/card__name-heart.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);
@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/__container/popup__container.css);
@import url(../blocks/popup/__container-close/popup__container-close.css);
@import url(../blocks/popup-form/popup-form.css);
@import url(../blocks/popup-form/__title/popup-form__title.css);
@import url(../blocks/popup-form/__name/popup-form__name.css);
@import url(../blocks/popup-form/__discription/popup-form__discription.css);
@import url(../blocks/popup-form/__save-btn/popup-form__save-btn.css);
@import url(../blocks/popup/_opened/popup_opened.css);
