.info-user {
  display: flex;
  align-items: center;
}
@media screen and (min-width: 320px) and (max-width: 400px) {
  .info-user {
    flex-wrap: wrap;
    width: 100%;
    flex-direction: column;

}
}
