.popup-form__save-btn {
  background-color: rgba(0, 0, 0, 1);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 14px 124px 18px 124px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  border: none;
  margin: 48px 0 0 0;
  cursor: pointer;
  border-radius: 2px;
  width: 100%;
}
.popup-form__save-btn:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
@media screen and (min-width: 320px) and (max-width: 400px) {
  .popup-form__save-btn {
    padding: 14px 82px;
    width: 100%;
    font-size: 14px;
    line-height: 17px;
    margin: 45px 0 0 0;
  }
}
