.popup-form__save-btn {
  background-color: rgba(0, 0, 0, 1);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 14px 124px 18px 124px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  border: none;
  margin: 48px 0 37px 0;
  cursor: pointer;
  border-radius: 2px;
}
.popup-form__save-btn:hover {
  background-color: rgba(0, 0, 0, .8);
}
